.login{
  @import "../../app.scss";

  .card{
    height: 1000px;
    width: 90%;
    background: white;
    border-radius: 6px;
    margin: 80px auto auto;
  }
  .input_name{
    height: 88px;
    flex:1;
    font-size: 30px;
    padding-left: 20px;
  }
  .v_pwd{
    height: 88px;
    width: 80%;
    margin-top: 40px;
    border: 2px solid $_ECE;
  }
  .input_pwd{
    height: 88px;
    width: 240px;
    font-size: 30px;
    padding-left: 20px;
  }
  .btn_code{
    height: 80px;
    background: #02A9EA;
    flex:1;
    margin:4px;
    border-radius: 4px;
  }

  .btn_login{
    height: 80px;
    background: #02A9EA;
    width: 80%;
    border: 0 solid white;
    margin-top: 80px;
    color:white;
  }
}
