.activity {
    @import '../../app.scss';
    &-banner {
        height: 380px;
        width: 100%;
        
    }
    &-user {
        height: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: white
    }
    &-avatar {
        height: 80px;
        width: 80px;
        border-radius: 40px;
        margin-right: 24px;
    }
    &-row-center {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-column {
      display: flex;
      flex-direction: column;
    
  }
    &-nickname {
        font-size: 28px;
        color: $_3CB
    }
    &-time {
        font-size: 20px;
        color: $_D8D;
        margin-top:10px;
    }
   
}

