.activity {
    @import '../../app.scss';
    &-banner {
        height: 380px;
        width: 100%;

    }
    &-user {
        height: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: white
    }
    &-avatar {
        height: 80px;
        width: 80px;
        border-radius: 40px;
        margin-right: 24px;
    }
    &-row-center {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-column {
      display: flex;
      flex-direction: column;

  }
    &-nickname {
        font-size: 28px;
        color: $_3CB
    }
    &-time {
        font-size: 20px;
        color: $_D8D;
        margin-top:10px;
    }
  &-title{
    padding-left: 34px;
    padding-right: 34px;
    background-color: white;
  }
  &-topic-head{
    padding-left: 34px;
    padding-right: 34px;
    background: #fff;
  }
  &-topic_title{
    font-size: 36px;
    margin-top: 24px;
    line-height: 44px;
  }
  .topic_total{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

  }
  .topic_txt_total{
    font-size: 24px;
    color: $_D8D;
  }
  .topic_txt_total1{
    font-size: 24px;
    color: $_D8D;
    margin-left: 20px;
  }
  .status_tag{
    background: $_FF8;
    height: 40px;
    width: 100px;
    border-radius: 6px;
  }
  .status_cn{
    font-size: 24px;
    color:#fff;
  }
  .flex-column{
    display: flex;
    flex-direction: column;
  }
  .flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  img{
    width: 100%;
    position:relative;
    z-index:1;
  }
  .line{
    height: 2px;
    width: 100%;
    background: $_ECE;
  }

}

