.nav {
    @import '../app.scss';
    height: 44pt;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-title {
        font-size: 16pt;
    }
    &-button {
        font-size: 14pt;
        height: 44pt;
        width: 50pt;
        justify-content: center;
        align-items: center;
        display: flex;
        color: $_818
    }
}