.nav {
    @import '../app.scss';
    height: 80px;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-title {
        font-size: 32px;
    }
    &-button {
        font-size: 28px;
        height: 80px;
        width: 100px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: $_818
    }
}
